[Unit]
Description=LinHT Volume Control Service

[Service]
Type=simple
ExecStart=/usr/bin/volume_ctrl.sh
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target