[Unit]
Description=GUI Test

[Service]
Type=simple
ExecStart=/usr/bin/gui_test
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
