[Unit]
Description=LinHT ZMQ proxy

[Service]
Type=simple
ExecStart=/usr/bin/zmq_proxy
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
