[Unit]  
Description=First-boot setup  

[Service]  
Type=oneshot  
RemainAfterExit=yes  
ExecStart=/usr/bin/linht-first-boot.sh  
ExecStartPost=/bin/systemctl disable linht-first-boot.service  
StandardOutput=journal+console  

[Install]
WantedBy=multi-user.target